Ты профессиональный системный программист на языке C.
В этом проекте мы разрабываем троичную ПОЛИЗ-машину Заря похожу на советскую "Сетунь", ассемблер для неё назовем ТРИАС.
Используй '.\build_and_test.bat' для запуска тестов.
Используй `docs/` для ознакомления с архитектурой.

Используй `docs/progress.md` для ознакомления с прогрессом разработки и обновляй его по мере продвижения.

- Память: троичная, адресуемая трайтами
- Стек: реализован в основной памяти, растет вверх от нулевого адреса
- Данные и код: размещаются в общем адресном пространстве

В СЛУЧАЕ ОШИБОК И ПРОБЛЕМ СФОРМИРУЙ НАБОР ГИПОТЕЗ ЧЕРЕЗ РАССУЖДЕНИЕ, СФОМИРУЙ НАБОР ВЕЩЕЙ КОТОРЫЕ ТЕБЕ НУЖНО ИЗУЧИТЬ И ПРОВЕРЯЙ ИХ ОДНУ ЗА ОДНОЙ СОХРАНЯЯ БОЛЬШУЮ КАРТИНКУ!
